body{
    background-color: hsl(221, 100%, 96%);
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*--------------------Box--------------------*/

.box{
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 500px;
    display: flex;
    border-radius: 30px;
}

/*--------------------Result--------------------*/

.box .result{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 350px;
    height: 500px;
    float: left;
    border-radius: 30px;
    display: inline;
    justify-content: flex-start;
    flex-direction: column;
}

/*----------Title----------*/

.box .result .title{
    /*background-color: rgba(0, 255, 255, 0.3);*/
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.box .result .title h2{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
}

/*----------Percentage----------*/

.box .result .percentage{
    /*background-color: rgba(0, 0, 255, 0.3);*/
    width: 350px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----Ball-----*/

.box .result .percentage .ball{
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--T--*/

.box .result .percentage .ball .t{
    /*background-color: crimson;*/
    width: 175px;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .result .percentage .ball .t h1{
    font-family: Hanken Grotesk;
    font-size: 60px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

/*--p--*/

.box .result .percentage .ball .p{
    /*background-color: darkblue;
    width: 175px;
    height: 30px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .result .percentage .ball .p h4{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    margin: 0;
}

/*----------Info----------*/

.box .result .info{
    /*background-color: rgba(0, 128, 0, 0.432);*/
    width: 350px;
    height: 180px;
    display: inline;
    justify-content: center;
    border-radius: 0 0 30px 30px;
}

/*-----h1-----*/

.box .result .info .h1{
    /*background-color: goldenrod;*/
    width: 350px;
    height: 60px;
    float: inline-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .result .info .h1 h1{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

/*-----p-----*/

.box .result .info .p{
    /*background-color: magenta;*/
    width: 350px;
    height: 120px;
    float: inline-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;
}

.box .result .info .p p{
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    margin: 0 50px 40px 50px;
    text-align: center;
}

/*--------------------Summary--------------------*/

.box .summary{
    /*background-color: coral;*/
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 30px 30px 0;
}

/*----------Title----------*/

.box .summary .title{
    /*background-color: rgba(0, 255, 255, 0.3);*/
    width: 350px;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 0;
}

.box .summary .title h2{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
    margin: 0 0 0 30px;
}

/*----------Info----------*/

.box .summary .info{
    /*background-color: rgba(255, 0, 255, 0.3);*/
    width: 350px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox{
    /*background-color: rgba(0, 255, 255, 0.4);*/
    width: 290px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*-----abas-----*/

.box .summary .info .cbox .aba1,
.aba2,
.aba3,
.aba4{
    width: 290px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    margin: 15px 0 0 0;
}

.box .summary .info .cbox .aba2{
    background-color: hsl(39, 100%, 56%, 0.1);
}

.box .summary .info .cbox .aba3{
    background-color: hsl(166, 100%, 37%, 0.1);
}

.box .summary .info .cbox .aba4{
    background-color: hsl(234, 85%, 45%, 0.1);
}

/*-----aba1-----*/

.box .summary .info .cbox .aba1{
    background-color: hsla(0, 100%, 67%, 0.1);
    width: 290px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
}

.box .summary .info .cbox .aba1 .ico{
    /*background-color: rgba(0, 206, 209, 0.596);*/
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba1 .ico img{
    width: 25px;
    height: 25px;
}

/*---------------------------*/

.box .summary .info .cbox .aba1 .reaction{
    /*background-color: rgba(0, 255, 128, 0.459);*/
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
}

.box .summary .info .cbox .aba1 .reaction p{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(0, 100%, 67%);
}

/*---------------------------*/

.box .summary .info .cbox .aba1 .pct{
    /*background-color: sandybrown;*/
    width: 90px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba1 .pct .p1{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
    margin: 0 7px 0 0;
}

.box .summary .info .cbox .aba1 .pct .p2{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.5);
}

/*-----aba2-----*/

.box .summary .info .cbox .aba2 .ico{
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba2 .ico img{
    width: 25px;
    height: 25px;
}

/*---------------------------*/

.box .summary .info .cbox .aba2 .memory{
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
}

.box .summary .info .cbox .aba2 .memory p{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(39, 100%, 56%);
}

/*---------------------------*/

.box .summary .info .cbox .aba2 .pct{
    width: 90px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba2 .pct .p1{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
    margin: 0 7px 0 0;
}

.box .summary .info .cbox .aba2 .pct .p2{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.5);
}

/*-----aba3-----*/

.box .summary .info .cbox .aba3 .ico{
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba3 .ico img{
    width: 25px;
    height: 25px;
}

/*---------------------------*/

.box .summary .info .cbox .aba3 .verbal{
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
}

.box .summary .info .cbox .aba3 .verbal p{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(166, 100%, 37%);
}

/*---------------------------*/

.box .summary .info .cbox .aba3 .pct{
    width: 90px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba3 .pct .p1{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
    margin: 0 7px 0 0;
}

.box .summary .info .cbox .aba3 .pct .p2{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.5);
}

/*-----aba4-----*/

.box .summary .info .cbox .aba4 .ico{
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba4 .ico img{
    width: 25px;
    height: 25px;
}

/*---------------------------*/

.box .summary .info .cbox .aba4 .visual{
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
}

.box .summary .info .cbox .aba4 .visual p{
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(234, 85%, 45%);
}

/*---------------------------*/

.box .summary .info .cbox .aba4 .pct{
    width: 90px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box .summary .info .cbox .aba4 .pct .p1{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
    margin: 0 7px 0 0;
}

.box .summary .info .cbox .aba4 .pct .p2{
    font-family: Hanken Grotesk;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.5);
}

/*--------------------Button--------------------*/

.box .summary .btn{
    /*background-color: rgba(165, 42, 42, 0.3);*/
    width: 350px;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 0;
    margin: 0;
}

/*----------h3----------*/

.box .summary .btn h3{
    margin: 0;
    font-family: Hanken Grotesk;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

/*----------btn----------*/

.box .summary .btn button{
    width: 290px;
    height: 60px;
    margin: 0;
    border: 0;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.box .summary .btn button:hover{
    background-color: ;
}